In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass

In [2]:
password = getpass.getpass()

········

In [5]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/Sakila'
engine = create_engine(connection_string)

In [7]:
data = pd.read_sql_query('''SELECT last_name, COUNT(DISTINCT last_name)
FROM Sakila.actor a GROUP BY last_name;''', engine)

In [10]:
data.head(20)

    last_name  COUNT(DISTINCT last_name)
0      AKROYD                          1
1       ALLEN                          1
2     ASTAIRE                          1
3      BACALL                          1
4      BAILEY                          1
5        BALE                          1
6        BALL                          1
7   BARRYMORE                          1
8    BASINGER                          1
9      BENING                          1
10     BERGEN                          1
11    BERGMAN                          1
12      BERRY                          1
13      BIRCH                          1
14      BLOOM                          1
15     BOLGER                          1
16    BRIDGES                          1
17      BRODY                          1
18    BULLOCK                          1
19       CAGE                          1